.authors-message {
    border: 1px solid;
    border-radius: 8px;

    background-color: #f5f5f5;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.author {
    margin-bottom: 10px;
    padding: 10px;
  
    border: 1px solid;
    border-radius: 8px;
  
    background-color: #f5f5f5;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.author-info {
    flex: 1;
    display: flex;
    align-items: center;
}
  
.author-name {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.author-alternative-link {
    font-size: 14px;
    color: #777;
}

.author-counters {
    display: flex;
}
  
.author-counter {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
  
.author-counter img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
  
.counter span {
    color: #777;
}
  