.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 992px) {
    .header {
        width: 100%;
        height: 200px;
    }
    .headerImage {
        /* height: 160px; */
        height: 200px;
    }
}

@media only screen and (min-width: 993px) {
    .header {
        width: 50%;
        height: 150px;
    }
    .headerImage {
        /* height: 110px; */
        height: 150px;
    }
}

.headerImage {
    background-image: url("../styles/broken-moon.jpg"); 
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top 8%;
    background-size: cover;
}

#navbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #25384100;
    border-radius: 8px;
    font-size: 18px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style-type: none;
}

#navbar li:first-child {
    flex: 1;
    padding-left: 10px;
    text-decoration: none;
}

#navbar li {
    padding-right: 20px;
    padding-top: 10px;
    text-decoration: none;
}

#navbar li a {
    color: white;
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}