.post-card {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    border-radius: 8px;
    background-color: #cfdde0;
}

.post-card-image {
    flex: 0 0 auto;
    margin-right: 10px;
}

.post-card-image img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.post-card-info {
    flex: 1 1 auto;
}

.post-card-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

/* .post-card-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
} */

.post-card-tags span {
    display: inline-block;
    background-color: rgb(198, 226, 43);
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 4px;
}

/* .post-card-countries {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
} */

.post-card-countries span {
    display: inline-block;
    background-color: rgb(198, 226, 43);
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 4px;
}

.post-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}

.post-card-author {
    font-size: 14px;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.post-card-date {
    font-size: 14px;
    color: #666;
    text-align: right;
}

.post-card-views {
    font-size: 14px;
    color: #666;
    text-align: right;
    padding-left: 10px;
}